*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/retrofitutils/
.idea/vcs.xml
app/libs/
basiclib/libs/
basiclib/src/main/java/com/example/basiclib/utils/retrofitutils/entity/
basiclib/src/main/res/drawable/
familyTree/
toolslibrary/libs/
toolslibrary/src/main/res/drawable/
!/toolslibrary/build/
/app/build/
